@import url(./style/index.css);
@import url(./style/login.css);
@import url(./fonts/fonts.css);
@import url(./style/creacio.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html {
  position: relative;
  height: 100vh;
}

p {
  font-size: 20px;
  font-family: "Karla", sans-serif;
}

h2 {
  height: 32px;
  font-family: "Inder", sans-serif;
}

header {
  background-color: rgba(236, 236, 236, 0.7960784314);
  padding-top: 10px;
}
header a {
  --bs-navbar-brand-font-size:2rem;
  transition: all 0.5s ease;
}
header a span {
  color: #ca6c24;
}
@media (max-width: 992px) {
  header a {
    --bs-navbar-brand-font-size:1.8rem;
  }
}
header a:hover {
  --bs-navbar-brand-font-size:2.1rem;
}
header .cabecera .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}
@media (max-width: 992px) {
  header .cabecera .navbar-nav {
    gap: 20px;
  }
}
header .cabecera .navbar-nav .nav-item .nav-link {
  --bs-nav-link-font-size: 23px;
}
@media (max-width: 992px) {
  header .cabecera .navbar-nav .nav-item .nav-link {
    --bs-nav-link-font-size: 20px;
  }
}
header .cabecera .navbar-nav .nav-item .nav-link i {
  transition: all 0.15s ease;
}
header .cabecera .navbar-nav .nav-item .nav-link i:hover {
  color: #934c14;
}
header .cabecera .navbar-nav .nav-item .nav-link-cart {
  position: relative;
}
header .cabecera .navbar-nav .nav-item .nav-link-cart .contador-carrito {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -10%);
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .container {
  flex-direction: row-reverse;
  gap: 20px;
}
header nav .container .navbar-collapse form {
  width: 90%;
}
header nav .container .navbar-collapse form .form-control {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 992px) {
  header nav .container .navbar-collapse .navbar-nav {
    gap: 40px;
  }
}
header nav .container .navbar-collapse .navbar-nav .nav-item {
  width: -moz-max-content;
  width: max-content;
}
header nav .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  --bs-nav-link-color: #323232;
  --bs-nav-link-font-size: 1rem;
  transition: 0.5s ease;
}
header nav .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  --bs-nav-link-hover-color:#934c14;
  transform: scale(1.2);
}
@media (max-width: 992px) {
  header nav .container .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin: 5px 0;
    text-align: center;
  }
}
@media (min-width: 992px) {
  header nav .container .buscador {
    width: 35%;
  }
}
@media (max-width: 992px) {
  header nav .container .buscador {
    width: 60%;
  }
}
header nav .container .buscador form .btn {
  padding: 0;
  padding-right: 10px;
  --bs-body-color: #323232;
}
header nav .container .buscador form .btn:hover {
  --bs-btn-hover-color: #934c14;
}
header nav .container .buscador form .btn .bi {
  font-size: 25px;
}
header nav .container .navbar-toggler {
  --bs-navbar-toggler-border-color: transparent;
}
header nav .container .navbar-toggler:focus {
  box-shadow: none;
}

footer .background {
  padding: 20px 0;
  background-color: #42240C;
}
footer .background .general .izquierda .row {
  flex-direction: column;
}
footer .background .general .izquierda .row a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 20px;
}
footer .background .general .izquierda .row .titulo {
  margin-bottom: 10px;
}
footer .background .general .izquierda .row .titulo a {
  font-size: 26px;
}
footer .background .general .derecha .row {
  flex-direction: column;
  align-items: end;
}
footer .background .general .derecha .row p {
  font-size: 26px;
  color: #E6E6E6;
  margin-bottom: 10px;
}
footer .background .general .derecha .row .rrss {
  text-align: end;
}
footer .background .general .derecha .row .rrss a {
  padding: 5px;
  color: #ffffff;
  margin: 0 5px;
  font-size: 30px;
}

.contenedor-articulo {
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.contenedor-articulo .usuario {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contenedor-articulo .imagen img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1;
}
.contenedor-articulo .boton-corazon {
  position: absolute;
  right: 0;
  border: transparent;
  background-color: white;
  width: -moz-max-content;
  width: max-content;
}
.contenedor-articulo .boton-corazon img {
  width: 30px;
}
.contenedor-articulo .contenido .con-icon {
  align-items: center;
}
.contenedor-articulo .contenido .con-icon .carro {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contenedor-articulo .contenido .con-icon .carro .boton-carro {
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border: transparent;
  background-color: transparent;
  width: -moz-max-content;
  width: max-content;
}
.contenedor-articulo .contenido .con-icon .carro .boton-carro img {
  width: 30px;
}

form label {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 600;
}
form input, form textarea {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 400;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 992px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */