@import url(./style/index.css);
@import url(./style/colors.css);
@import url(./style/login.css);
@import url(./fonts/fonts.css);
@import url(./style/creacio.css);
@import url(./style/pagina_usuario.css);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html{
    position: relative;
    height: 100vh;
}
body{
    margin-top: 150px;
}
p{
    font-size: 1rem;
    font-family: "Karla", sans-serif;
}

h1{
    font-size: 3rem;
    font-family: "Inder", sans-serif;
}

h2{
    font-size: 2rem;
    font-family: "Inder", sans-serif;
}
.margin-top-80-30{
    margin-top: 80px;
    margin-bottom: 80px;
    @media screen and (max-width: 992px){
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.background-semiblack{
    background-color: var(--semiblack-color);
    padding: 20px 0;
}
header{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    background-color: rgb(236 236 236);
    a{
        --bs-navbar-brand-font-size:2rem;
        color: #323232;
        transition: all 0.5s ease;
        span{
            color: #ca6c24;
        }
        @media (max-width:992px) {
            --bs-navbar-brand-font-size:1.8rem;
        }
        &:hover{
            --bs-navbar-brand-font-size:2.3rem;
            color: #323232;
        }
    }
    .cabecera{
        //menu de la cabecera
        .navbar-nav{
            flex-direction: row;
            justify-content: flex-end;
            gap:40px;
            @media (max-width:992px) {
                gap: 20px;
            }
            .nav-item{
                .nav-link{
                    --bs-nav-link-color: #323232;
                    color: #323232;
                    --bs-nav-link-font-size: 23px;
                    @media (max-width:992px) {
                        --bs-nav-link-font-size: 20px;
                    }
                    i{
                        transition: all 0.15s ease;
                        &:hover{
                            color:#934c14;
                        }
                    }
                }                
                .nav-link-cart{
                    position: relative;
                    .contador-carrito {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(50%, -10%);
                        background-color: red;
                        color: white;
                        border-radius: 50%;
                        padding: 5px;
                        font-size: 10px;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    
    //menu de navegacion
    nav{
        .container{
            flex-direction: row-reverse;
            gap: 20px;
            .navbar-collapse{
                form{
                    width: 90%;
                    .form-control{
                        width: 100%;
                        max-width: 600px;
                    }
                }
                .navbar-nav{
                    @media (min-width:992px) {
                        gap: 40px;
                    }
                    .nav-item{   
                        width: max-content;
                        .nav-link{
                            --bs-nav-link-color: #323232;
                            color: #323232;
                            --bs-nav-link-font-size: 1rem;
                            transition: 0.5s ease;
                        &:hover{
                            --bs-nav-link-hover-color:#934c14;
                            transform: scale(1.2);
                        } 
                        }

                        @media (max-width:992px) {
                            width: 100%;
                            .nav-link{
                                margin: 5px 0;
                                text-align: center;
                            }
                        }         
                    }
                }
            }
            .buscador{
                @media (min-width:992px) {
                    width: 35%;
                }
                @media (max-width:992px) {
                    width: 60%;
                }
                form{
                    .btn{
                        padding: 0;
                        padding-right: 10px;
                        --bs-body-color: #323232;
                        &:hover{
                            --bs-btn-hover-color: #934c14;
                        }
                        .bi{
                            font-size: 25px;
                        }
                    }
                }
            }
            .navbar-toggler{
                --bs-navbar-toggler-border-color: transparent;
                &:focus{
                    box-shadow: none;
                }
            }
        } 
    }
    
} 
footer{
    
    .background{
        padding: 20px 0;
        background-color: #42240C;
        .general{
            .izquierda{
                .row{
                    flex-direction: column;
                    a{
                        text-decoration: none;
                        color: #E6E6E6;
                        font-size: 20px;
                    }
                    .titulo{
                        margin-bottom: 10px;
                        a{
                            font-size: 26px;
                        }
                    }
                }
            }
            .derecha{
                .row{
                    flex-direction: column;
                    align-items: end;
                    p{
                        font-size: 26px;
                        color: #E6E6E6;
                        margin-bottom: 10px;
                    }
                    .rrss{
                        text-align: end;
                        a{
                            padding: 5px;
                            color: #ffffff;
                            margin: 0 5px;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
.contenedor-articulo{
    position: relative;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    .usuario{
        padding: 10px 0 10px 5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .imagen{
        img{
            width: 100%;
            object-fit: contain;
            aspect-ratio: 1;
        }
    }
    .boton-corazon{
        position: absolute;
        right: 0;
        border: transparent;
        background-color: white;
        width: max-content;
        img{
            width: 30px;
        }
    }
    .contenido{
        .con-icon{
            align-items: center;
            .c-1{
                padding-top: 10px;
                padding-left: 5px;
                padding-bottom: 10px;
            }
            .carro{
                display: flex;
                gap: 10px;
                align-items: center;
                .boton-carro{
                    padding: 0;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: transparent;
                    background-color: transparent;
                    width: max-content;
                    padding: 0 3px;
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
}
form{
    label{
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: 600;
    }
    input, textarea{
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: 400;
    }
}
.swiper-button-next, .swiper-button-prev{
    padding: 25px;
    color: #ffffff;
    font-size: 40px;
    &:after{
        display: none;                
    }
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
@media (max-width:992px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}