@import url(./style/index.css);
@import url(./style/login.css);
@import url(./fonts/fonts.css);


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
p{
    font-size: 20px;
}
h2{
    height: 32px;
    font-family: "Inder", sans-serif;
}
body{
    background-color: #E6E6E6;
}
header{
    background-color: #ffffffcb;
    nav{
        .container-fluid{
            gap: 50px;
            a{
                font-size: 25px;
            }
            .navbar-collapse{
                form{
                    width: 90%;
                    .form-control{
                        width: 100%;
                        max-width: 600px;
                    }
                }
            }
        } 
    }
} 
.contenedor-articulo{
    border: 1px solid black;
    .usuario{
        padding: 10px 0 10px 20px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .imagen{
        border-bottom: 1px solid black;
        img{
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }
    .contenido{
        .con-icon{
            align-items: center;
            .c-1{
                padding-left: 20px;
            }
            .c-2{
                .h-b{
                    flex-direction: column;
                    align-content:end;
                    padding-right: 20px;
                    gap: 5px;
                    img{
                        width: 50px;
                    }
                }
            }
        }
    }
}