body.index section.vender {
  text-align: center;
}
body.index section.vender .frase-img {
  margin-top: 30px;
}
body.index section.vender .frase-img h2 {
  font-family: "Inconsolata";
  font-weight: 300;
}
body.index section.vender img {
  width: 100%;
}
body.index section.vender p {
  font-size: 35px;
  font-weight: 200;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
body.index section.vender .boton-crear {
  margin-top: 40px;
}
body.index section.vender .boton-crear a {
  text-decoration: none;
  color: #ececec;
  padding: 8px 40px 8px 40px;
  background-color: #5D412E;
  font-size: 23px;
  border-radius: 5px;
  font-weight: 300;
  font-family: "Karla", sans-serif;
}
body.index section.populares .mySwiper .swiper-wrapper .swiper-slide {
  padding: 60px;
}
body.index section.populares .mySwiper .swiper-pagination-bullet {
  padding: 8px;
}
body.index section.populares .mySwiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
body.index section.populares .mySwiper .swiper-button-next, body.index section.populares .mySwiper .swiper-button-prev {
  color: #2d2d2d;
}
body.index section.populares .mySwiper .swiper-button-next {
  transform: translateX(10px);
}
body.index section.populares .mySwiper .swiper-button-prev {
  transform: translateX(-10px);
}
body.index section.marcas .background-claro {
  padding: 30px 0;
  background-color: #654632;
}
body.index section.marcas .background-claro .contenido h2, body.index section.marcas .background-claro .contenido p {
  color: #ececec;
}
body.index section.marcas .background-claro .contenido h2 {
  margin-bottom: 10px;
}
body.index section.marcas .background-claro .contenido p {
  font-size: 23px;
  width: 55%;
}
body.index section.marcas .background-claro .imagenes {
  display: flex;
}
body.index section.marcas .background-claro .imagenes .imagen {
  width: 50%;
}
body.index section.marcas .background-claro .imagenes .imagen img {
  pad: 10px;
  height: 100%;
  width: 100%;
}
body.index section.marcas .background-oscuro {
  background-color: #5D412E;
  padding: 20px 0;
}
body.index section.marcas .background-oscuro .mySwiper2 {
  min-height: 100%;
  padding: 0 50px;
}
body.index section.marcas .background-oscuro .mySwiper2 .swiper-wrapper .swiper-slide .imagen-marca {
  padding: 5px;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index section.marcas .background-oscuro .mySwiper2 .swiper-wrapper .swiper-slide .imagen-marca img {
  width: 100%;
}
body.index section.marcas .background-oscuro .mySwiper2 .swiper-wrapper .swiper-slide .nombre-marca {
  color: white;
}
body.index section.marcas .background-oscuro .mySwiper2 .swiper-button-next {
  transform: translateX(10px);
}
body.index section.marcas .background-oscuro .mySwiper2 .swiper-button-prev {
  transform: translateX(-10px);
}
body.index section.novedades .articulos {
  margin-top: 50px;
}
body.index section.novedades .articulos .producto {
  padding-top: 12px;
  padding-bottom: 12px;
}
body.index section.outfits .articulos {
  margin-top: 50px;
}
body.index section.outfits .articulos .producto {
  padding-top: 12px;
  padding-bottom: 12px;
}

.boton-corazon img {
  width: 10px;
}/*# sourceMappingURL=index.css.map */