body.index{
    
    section.vender{
        margin-top: 30px;
        text-align: center;
        .frase-img{
            margin-top: 30px;
            h2{
                font-family: "Inconsolata";
                font-weight: 300;
            }
        }
        img{
            width: 100%;
        }
        p{
            font-size: 35px;
            font-weight: 200;
            word-spacing: 5px;
            letter-spacing: 2px;
            margin-bottom: 50px;
        }
        .boton-crear{
            margin-top: 40px;
            a{
                text-decoration: none;
                color: #ececec;
                padding: 8px 40px 8px 40px;
                background-color: #5D412E;
                font-size: 23px;
                border-radius: 5px;
                font-weight: 300;
                font-family: "Karla", sans-serif;
            }
        }
    }
    section.populares{
        margin-top: 90px;
        .mySwiper{
            .swiper-wrapper{
                .swiper-slide{
                    padding: 60px;
                }
            }
            .swiper-pagination-bullet{
                padding: 8px;
            }
            .swiper-pagination-bullet-active{
                background-color: #2d2d2d;
            }
            .swiper-button-next, .swiper-button-prev{
                padding: 25px;
                border: 3px solid;
                border-radius: 100%;
                background-color: #ececec;
                color: #2d2d2d;
                font-size: 40px;
                &:after{
                    display: none;                
                }
            }
            .swiper-button-next{
                transform: translateX(10px);
            }
            .swiper-button-prev{
                transform: translateX(-10px);
            }
        }
    }
    section.marcas{
        margin-top: 50px;
        .background-claro{
            padding: 30px 0;
            background-color: #654632;
            .contenido{
                h2,p{
                    color: #ececec;
                }
                h2{
                    margin-bottom: 10px;
                }
                p{
                    font-size: 23px;
                    width: 55%;
                }
            }
            .imagenes{
                display: flex;
                .imagen{
                    width: 50%;
                    img{
                        pad: 10px;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .background-oscuro{
            background-color: #5D412E;
            .mySwiper2{
                min-height: 100%;
                .swiper-wrapper{
                    .swiper-slide{

                        .imagen-marca{
                            padding: 5px;
                            width: 100%;
                            height: 100%;
                            min-height: 400px;
                            background-color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 100%;
                            }
                        }
                        .nombre-marca{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    section.novedades{
        margin-top: 100px;
        .articulos{
            margin-top: 50px;
            .producto{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
    section.outfits{
        margin-top: 100px;
        .articulos{
            margin-top: 50px;
            .producto{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}
.boton-corazon img{
    width: 10px;
}