body.usuario{
    table img{
        width: auto;
        height: 70px;
        margin: 0;
    }
    td{
        height: 90px;
    }
    td.buttons{
        gap: 10px;
        .btn{
            width: 120px;
            margin: 5px 0;
        }
        .btn-danger{
            --bs-btn-bg: #b72c39;
            --bs-btn-border-color: transparent;
            --bs-btn-hover-bg: #721b24;
            --bs-btn-hover-border-color: transparent;
        }
        .btn-primary{
            height: max-content;
            --bs-btn-bg: #00a6ff;
            --bs-btn-border-color: transparent;
            --bs-btn-hover-border-color: transparent;
        }
    }
}