body.secciones{
    .margin-top-80-30{
        .container{
            padding-bottom: 180px;
        }
        .row{
            .col-lg-3.col-6{
                margin: 10px 0;
            }
        }
    }
    @media (max-width: 991px) {
        .col-lg-3.col-6{
            min-height: 420px;
            margin:10px 0;
            .contenedor-articulo{
                min-height: 100%;
            }
        }
    }

}